<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      Nombre

      <div class="item-note" >
        <ion-label>
          Categoria
          </ion-label>
      </div>

      <div class="">
        Nota
      </div>

      <div class="" slot="end">
      Distancia
      </div>

    </ion-item>
    <ion-item *ngFor="let item of items">
      {{item.title}}

      <div class="item-note" >
        <ion-label>
          {{item.cat}}
          </ion-label>
      </div>

      <div class="">
        {{item.nota}}
      </div>
      <ion-item onclick="buttonClick()">
        <ion-button>
          Mapa
        </ion-button>
      </ion-item>
      <div class="" slot="end">
      {{item.dist}}
      </div>

    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
